* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

nav {
  --width: 15ch;
  --navBackgroundColor: #e3e3e3;
  --menuItemColor: #5a5a5a;
  --menuItemLineHeight: 2em;
  --navBurgerHeight: 80px;
  --navBurgerWidth: 80px;
  --navBurgerColor: #000000;
  display: flex ;
  justify-content: end;
}

nav ul {
  width: var(--width);
  background-color: var(--navBackgroundColor);
}

nav ul li {
  list-style: none;
}
nav li a {
  line-height: var(--menuItemLineHeight);
  color: var(--menuItemColor);
  text-decoration: none;
  width: 100px;
}
nav li a:hover {
  box-shadow: #808080 4px 4px 2px;
  
}

summary {
  list-style: none;
  width: fit-content;
  line-height: normal;
}

svg {
  height: var(--navBurgerHeight);
  width: var(--navBurgerWidth);
  stroke: var(--navBurgerColor);
  stroke-width: 10;
  stroke-linecap: round;
}
