* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

nav {
  --navFontSize: 15px;
  --navFontFamily: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --navBurgerHeight: 20px;
  --navBurgerWidth: 20px;
  --navBurgerColor: #fff;
  --navDropDownWidth: 340px;
  --navDropDownBackgroundColor: #e3e3e3;
  --navDropDownFontColor: #000000;
  

  display: flex;
  flex-direction: column;
  font-family: var(--navFontFamily);
}
.navTopRow {
  width: 100vw;
  background-color: red;
  font-family: var(--navFontFamily);
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.navTopRow a {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
}
.navTopRow p {
  font-size: var(--navFontSize);
}

.navMainRow {
  display: flex;
  flex-direction: row;
  background-color: #252525;
}

.navMainRow #navMainMenuBurger {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.navMainRow a {
  text-decoration: none;
}

.navMainRow h2 {
  font-size: var(--navFontSize);
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: white;
}
.navMainRow h2:hover {
  background-color: #000000;
}

/* Burger */
#navMainMenuBurger {
  width: 40px;
  height: 30px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#navMainMenuBurger .line {
  width: 15px;
  height: 2px;
  background-color: white;
  border-radius: 2px;
}
#navMainMenuBurger::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 30px;
  background: transparent;
  z-index: 1;
}

/* dropdown */
.navDropDownMenu ul {
  width: var(--navDropDownWidth);
  background-color: var(--navDropDownBackgroundColor);
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.navDropDownMenu li a {
  display: block;
  color: var(--navDropDownFontColor);
  text-decoration: none;
  font-size: var(--navFontSize);
  padding-left: 2rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.navDropDownMenu li a:hover {
  background-color: red;
}


