* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


/* 
Background: Deep Black (#000000)
Header/Footer Background: Deep Black (#000000)
Text: Pure White (#FFFFFF)
Headings: Neon Blue (#33CCFF)
Links: Neon Blue (#33CCFF)
Hover Effects: Neon Blue (#33CCFF)
Accent Elements: Matrix Green (#00FF00) and Silver (#C0C0C0) 
*/


nav {
  --navFontSize: 16px;
  --navFontFamily: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --navBurgerHeight: 20px;
  --navBurgerWidth: 20px;
  --navBurgerColor: #fff;
  --navDropDownWidth: 200px;
  --navDropDownFontSize: 12px;
  --navDropDownBackgroundColor: #e3e3e3;
  --navDropDownFontColor: #000000;

  display: flex;
  flex-direction: column;
  font-family: var(--navFontFamily);
}
#topRow {
  width: 100vw;
  background-color: red;
  font-family: var(--navFontFamily);
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
}
#topRow a {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
}

#navMainRow {
  display: flex;
  flex-direction: row;
  background-color: #252525;
}

#navMainRow a {
  text-decoration: none;
}

#navMainRow h2 {
  font-size: var(--navFontSize);
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: white;
  text-transform: uppercase;
}
#navMainRow h2:hover {
  background-color: #000000;
}

/* Burger */
#mainMenuBurger {
  width: 40px;
  height: 30px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
#mainMenuBurger .line {
  width: 15px;
  height: 2px;
  background-color: white;
  border-radius: 2px;
}
#mainMenuBurger::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 30px;
  background: transparent;
  z-index: 1;
}


/* dropdown */
#dropDownMenu {
  width: var(--navDropDownWidth);
  background-color: var(--navDropDownBackgroundColor);
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#dropDownMenu a {
  display: block;
  color: var(--navDropDownFontColor);
  text-decoration: none;
  font-size: var(--navDropDownFontSize);
  padding-left: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-transform: capitalize;
}

#dropDownMenu a:hover {
  background-color: red;
}
