* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --deepBlack: #000000;
  --lightBlack: #252525;
  --pureWhite: #ffffff;
  --neonBlue: #33ccff;
  --matrixGreen: #00ff00;
  --silver: #c0c0c0;
  --BasicFont: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --FancyFont: Arial, Helvetica, sans-serif;
}

nav {
  --navTopRowTitleFontColor: var(--deepBlack);
  --navTopRowTitleFontSize: 1.5rem;
  --navTopRowBackgroundColor: var(--matrixGreen);
  --navTopRowFontFamily: var(--FancyFont);

  --navMainMenuFontColor: var(--pureWhite);
  --navMainMenuFontSize: 1rem;
  --navMainMenuBackgroundColor: var(--lightBlack);
  --navMainMenuBackgroundHoverColor: var(--deepBlack);
  --navMainMenuFontFamily: var(--BasicFont);

  --navBurgerHeight: 20px;
  --navBurgerWidth: 20px;
  --navBurgerColor: var(--pureWhite);

  --navDropDownWidth: 200px;
  --navDropDownFontSize: 12px;
  --navDropDownBackgroundColor: var(--silver);
  --navDropDownBackgroundHoverColor: var(--pureWhite);
  --navDropDownFontColor: var(--deepBlack);
  --navDropDownFontFamily: var(--BasicFont);

  display: flex;
  flex-direction: column;
}

#topRow {
  width: 100vw;
  background-color: var(--navTopRowBackgroundColor);
  font-family: var(--navFontFamily);
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

#topRow a {
  text-decoration: none;
  color: var(--navTopRowTitleFontColor);
  font-size: var(--navTopRowTitleFontSize);
  font-family: var(--navTopRowFontFamily);
}

#navMainRow {
  display: flex;
  flex-direction: row;
  background-color: var(--navMainMenuBackgroundColor);
}

#navMainRow a {
  text-decoration: none;
}
@media (max-width: 950px) {
  #navMainRow a:nth-child(n + 8) {
    display: none;
  }
}
@media (max-width: 790px) {
  #navMainRow a:nth-child(n + 7) {
    display: none;
  }
}
@media (max-width: 670px) {
  #navMainRow a:nth-child(n + 6) {
    display: none;
  }
}
@media (max-width: 500px) {
  #navMainRow a:nth-child(n + 5) {
    display: none;
  }
}
@media (max-width: 370px) {
  #navMainRow a:nth-child(n + 2) {
    display: none;
  }
}

#navMainRow h2 {
  font-size: var(--navMainMenuFontSize);
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: var(--navMainMenuFontColor);
  text-transform: uppercase;
  font-family: var(--navMainMenuFontFamily);
}

#navMainRow h2:hover {
  background-color: var(--navMainMenuBackgroundHoverColor);
}

#mainMenuBurger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40px;
  height: 30px;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin: auto 0;
  cursor: pointer;
}

#mainMenuBurger .line {
  width: 15px;
  height: 2px;
  background-color: var(--navBurgerColor);
  border-radius: 2px;
}

#mainMenuBurger::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 30px;
  background: transparent;
  z-index: 1;
}

#dropDownMenu {
  width: var(--navDropDownWidth);
  background-color: var(--navDropDownBackgroundColor);
  padding-top: 1rem;
  padding-bottom: 1rem;
  box-shadow: 4px 4px 10px #000000;
}

#dropDownMenu a {
  display: block;
  color: var(--navDropDownFontColor);
  text-decoration: none;
  font-size: var(--navDropDownFontSize);
  font-family: var(--navDropDownFontFamily);
  padding-left: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-transform: capitalize;
}

#dropDownMenu a:hover {
  background-color: var(--navDropDownBackgroundHoverColor);
}
